packaging_format = 2

id = "garage"
name = "Garage"
description.en = "Distributed S3 storage"
description.fr = "Stockage S3 distribué"
version = "2.2.0~ynh1"

maintainers = [ "oiseauroch" ]

[upstream]
license = "AGPL-3.0-only"
website = "https://garagehq.deuxfleurs.fr/"
admindoc = "https://garagehq.deuxfleurs.fr/documentation/quick-start/"
userdoc = "https://garagehq.deuxfleurs.fr/documentation/quick-start/"
code = "https://git.deuxfleurs.fr/Deuxfleurs/garage"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.weight]
    ask.en = "Number of GB to allow for storage"
    ask.fr = "Nombre de Go à allouer pour le stockage"
    type = "number"
    help.en = "You should provide a data partition of this size and a metadata partition of at least 1% of the datasize"
    help.fr = "Vous devriez fournir une partition de cette taille pour les données et une partition de métadonnées d'au moins 1% de la taille des données"

    [install.data]
    ask.en = "Path of the XFS Data partition"
    ask.fr = "Chemin de la partition XFS de données"
    type = "string"
    example = "/dev/sdb1"
    help.en = "Type `no` to mount data on a virtual drive (if possible)"
    help.fr = "Tapez `no` pour monter les données sur un disque virtuel (si possible)"
    default = "no"

    [install.metadata]
    ask.en = "Path of the BTRFS (or ZFS) Metadata partition on a SSD"
    ask.fr = "Chemin de la partition BTRFS (ou ZFS) de métadonnées sur un SSD"
    type = "string"
    example = "/dev/sda2"
    help.en = "Type `no` if /home/yunohost.app is already mounted on a BTRFS (or ZFS) partition ou pour monter les métadonnées sur un disque virtuel (si possible)"
    help.fr = "Tapez `no` si /home/yunohost.app est déjà monté sur une partition BTRFS (or ZFS) or to mount metadata on a virtual drive (if possible)"
    default = "no"

    [install.rpc_secret]
    ask.en = "UUID of the network (rpc-secret) "
    ask.fr = "UUID de l'ilot (rpc-secret)"
    type = "string"
    optional = true
    example = "1799bccfd7411eddcf9ebd316bc1f5287ad12a68094e1c6ac6abde7e6feae1ec"

    [install.bootstrap_peers]
    ask.en = "friend server id"
    ask.fr = "serveur ami"
    type = "string"
    example = "1799bccfd7411eddcf9ebd316bc1f5287ad12a68094e1c6ac6abde7e6feae1ec@127.0.0.1:3901"
    optional = true


[resources]

    [resources.sources.main] #Dummy source to get notified of new release by the bot
    url = "https://git.deuxfleurs.fr/Deuxfleurs/garage/archive/v2.2.0.tar.gz"
    sha256 = "e68b05d4358008e8b29a0ac235f73e3a12d97d9c6388c330b87282db774c04dc"
    autoupdate.strategy = "latest_forgejo_release"

    [resources.sources.binaries] #Actual app binaries used in this package 
    in_subdir = false
    extract = false
    rename = "garage"
    prefetch = false
    amd64.url = "https://garagehq.deuxfleurs.fr/_releases/v2.2.0/x86_64-unknown-linux-musl/garage"
    amd64.sha256 = "ec761bb996e8453e86fe68ccc1cf222c73bb1ef05ae0b540bd4827e7d1931aab"
    arm64.url = "https://garagehq.deuxfleurs.fr/_releases/v2.2.0/aarch64-unknown-linux-musl/garage"
    arm64.sha256 = "3922bd3524e5267587a27fec91e4d8447353113ea3a55e2d1786a53d7529d1da"
    i386.url = "https://garagehq.deuxfleurs.fr/_releases/v2.2.0/i686-unknown-linux-musl/garage"
    i386.sha256 = "ee221f20d5685631489711aa2bf5ee4af321d3eab4a5cc6e558136bbea7f773b"
    armhf.url = "https://garagehq.deuxfleurs.fr/_releases/v2.2.0/armv6l-unknown-linux-musleabihf/garage"
    armhf.sha256 = "12210b773e0dff921c89b8894c0dc66e2cbc6cd6c2574f409f8405de2f7945b5"

    [resources.ports]
    main.default = 4000
    main.exposed = "TCP"
    api.default = 5000
    web.default = 6000

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["data", "metadata"]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages_from_raw_bash = """
    systemd-detect-virt -q -c && true || echo "qemu-utils e2fsprogs"
    """
