packaging_format = 2

id = "garage"
name = "Garage"
description.en = "Distributed S3 storage"
description.fr = "Stockage S3 distribué"
version = "2.2.0~ynh1"


maintainers = [ "oiseauroch" ]

[upstream]
license = "AGPL-3.0-only"
website = "https://garagehq.deuxfleurs.fr/"
admindoc = "https://garagehq.deuxfleurs.fr/documentation/quick-start/"
userdoc = "https://garagehq.deuxfleurs.fr/documentation/quick-start/"
code = "https://git.deuxfleurs.fr/Deuxfleurs/garage"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.rpc_secret]
    ask.en = "UUID of the network (rpc-secret) "
    ask.fr = "UUID de l'ilot (rpc-secret)"
    type = "string"
    optional = true
    example = "1799bccfd7411eddcf9ebd316bc1f5287ad12a68094e1c6ac6abde7e6feae1ec"

    [install.bootstrap_peers]
    ask.en = "friend server id"
    ask.fr = "serveur ami"
    type = "string"
    example = "1799bccfd7411eddcf9ebd316bc1f5287ad12a68094e1c6ac6abde7e6feae1ec@127.0.0.1:3901"
    optional = true

    [install.weight]
    ask.en = "Number of GB to allow for storage"
    ask.fr = "Nombre de GB à allouer pour le stockage"
    type = "string"

[resources]

    [resources.sources.main] #Dummy source to get notified of new release by the bot
    url = "https://git.deuxfleurs.fr/Deuxfleurs/garage/archive/v2.2.0.tar.gz"
    sha256 = "e68b05d4358008e8b29a0ac235f73e3a12d97d9c6388c330b87282db774c04dc"
    autoupdate.strategy = "latest_forgejo_release"

    [resources.sources.binaries] #Actual app binaries used in this package 
    in_subdir = false
    extract = false
    rename = "garage" #ynh_setup_source() will rename it "binaries" so this is to give it back its original name
    amd64.url = "https://garagehq.deuxfleurs.fr/_releases/v2.1.0/x86_64-unknown-linux-musl/garage"
    amd64.sha256 = "543b0414d1464ab855ebe9b843938a5e5361fd24436891ce3dff9e03d02839d8"
    arm64.url = "https://garagehq.deuxfleurs.fr/_releases/v2.1.0/aarch64-unknown-linux-musl/garage"
    arm64.sha256 = "65a1bedc9b6d5a2df788b55e81cb0013129326478fd94cf83a844ab278e8055f"
    i386.url = "https://garagehq.deuxfleurs.fr/_releases/v2.1.0/i686-unknown-linux-musl/garage"
    i386.sha256 = "fff24feca11f613e67a777dc373e9fbd6ce7361b1c1578691c1b92047c5de62c"
    armhf.url = "https://garagehq.deuxfleurs.fr/_releases/v2.1.0/armv6l-unknown-linux-musleabihf/garage"
    armhf.sha256 = "4aab47c1d0e6297f6cab61994620dd23cb163a8e21fbb4775e0d029e3c2b85b5"


    [resources.ports]
    main.default = 4000
    main.exposed = "TCP"
    api.default = 5000
    web.default = 6000

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["data", "metadata"]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages_from_raw_bash = """
    systemd-detect-virt -q -c && true || echo "qemu-utils e2fsprogs"
    """
