metadata_dir = "/opt/yunohost/__APP__/metadata"
data_dir = "__DATADIR__/data" 

block_size = 1048576
block_manager_background_tranquility = 2

replication_mode = "3"

compression_level = 1

# openssl rand -hex 32
rpc_secret = "__RPC_SECRET__"
rpc_bind_addr = "[::]:__PORT__"
# Le port peut être différent (eg NAT) mais doit rediriger sur le
# port de rpc_bind_addr
rpc_public_addr = "__DOMAIN__:__PORT__"

bootstrap_peers = []

[s3_api]
# Ne supporte pas TLS → reverse proxy obligatoire
# pour avoir de la sécurité
api_bind_addr = "[::]:__PORT_API__"
s3_region = "garage"
