metadata_dir = "__DATA_DIR__/metadata"
data_dir = "__DATA_DIR__/data"

block_size = 1048576
block_manager_background_tranquility = 2

replication_factor = 3
consistency_mode = "consistent"


compression_level = 1

# openssl rand -hex 32
rpc_secret = "__RPC_SECRET__"
rpc_bind_addr = "[::]:__PORT__"
# Le port peut être différent (eg NAT) mais doit rediriger sur le
# port de rpc_bind_addr
rpc_public_addr = "__DOMAIN__:__PORT__"

bootstrap_peers = []

[s3_api]
# Ne supporte pas TLS → reverse proxy obligatoire
# pour avoir de la sécurité
api_bind_addr = "[::]:__PORT_API__"
s3_region = "garage"
root_domain = ".__DOMAIN__" # might be used for vhost (instead of path_style) requests (using "bucketname.__DOMAIN__") according to https://garagehq.deuxfleurs.fr/documentation/reference-manual/configuration/#s3_root_domain

[s3_web]
# Ne supporte pas TLS → reverse proxy obligatoire
# pour avoir de la sécurité
# utilisé pour l'accès public aux buckets (site web, médias d'instance du fediverse…)
bind_addr = "[::]:__PORT_WEB__"
root_domain = ".__DOMAIN__" # might be used for vhost (instead of path_style) requests (using "bucketname.__DOMAIN__") according to https://garagehq.deuxfleurs.fr/documentation/reference-manual/configuration/#web_root_domain

