[Unit]
Description=Garage: MetaData Mount

[Mount]
What=/dev/disk/by-uuid/__METADATA_UUID__
Where=__DATA_DIR__/metadata/
Type=btrfs
Options=defaults
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target